#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GeneralInformation {
  display: grid;
}
label {
  padding-bottom: 1em;
}

h2 {
  border-bottom: 2px solid white;
}
